.button {
  position: absolute;
  left: calc(50% - 65px);
  top: 10px;
  z-index: 1000;
  width: 160px;
  line-height: 32px;
  border: 1px solid #999;
  border-radius: 4px;
  background-color: #fff;
  cursor: pointer;
}
