.ul {
  padding: 24px;
  text-align: center;
  background-color: #fff;
  border: 1px solid #999;
  border-radius: 4px;
  list-style-type: none;
  position: absolute;
  margin: 0;
  right: 10px;
  top: 80px;
}

.li {
  cursor: pointer;
  margin: 24px 0;
}

.img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 2px solid #fff;
  padding: 0;
  vertical-align: middle;
}
