.button {
  position: absolute;
  left: calc(50% - 81px);
  top: 10px;
  z-index: 1000;
  width: 160px;
  line-height: 32px;
  border: 1px solid #d81b60;
  border-radius: 4px;
  background-color: #d81b60;
  color: #fff;
  cursor: pointer;

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}
