#map {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 0;
}

.button-logout {
  position: absolute;
  left: 10px;
  bottom: 32px;
  z-index: 1000;
  width: 128px;
  line-height: 32px;
  border: 1px solid #999;
  border-radius: 4px;
  background-color: #fff;
  cursor: pointer;
}
