<div *ngIf="afAuth.user | async as user; else showLogin">
  <div id="map">...</div>
  <app-marker-list
    [map]="map"
    [markers]="markers"
    [markerListLength]="markerListLength"
    (listClick)="handleListClick($event)"
  ></app-marker-list>
  <app-locate-button
    [isDisabled]="isDisabled"
    [isSharing]="isSharing"
    (buttonClick)="handleButtonClick()"
  ></app-locate-button>
</div>
<ng-template #showLogin>
  <p>Please login.</p>
  <button (click)="login()">Login with Google</button>
</ng-template>
